.topnav .navbar .nav {
  float: right;
}

@media (min-width: 980px) {
  body { margin-top: 40px; }
}

.proem-tree {
  padding: 0;
  margin-bottom: 18px;
  border-radius: 0;
  border-top: 3px solid #E1E1E1;
  border-bottom: 1px solid #CCC;
  background-image: url(/media/img/banner-bg.png);
}

.proem-tree .hero-unit {
  padding: 12px 0 0;
  margin-bottom: 0;
}

.features p {
  margin: 4px 0;
  color: #919191;
  line-height: 1.2em;
  text-align: justify;
}

.features h3 {
  color: #55B8D5;
}

.downloads {
  text-align: center;
  margin: 20px auto;
}
