layout: index.twig
---
<div class="features">
  <div class="row">
    <div class="span4">
      <h3>Cascading Namespaces</h3>
      <p>
        Cascading namespaces allows you to easily override Proem classes with your own implementations that will then be used throughout the framework.
      </p>
    </div>
    <div class="span4">
      <h3>Dependency Injection</h3>
      <p>
        A simple dependency injection implementation allows easy decoupling and configuration of individual components via DI containers (services) and assets.
      </p>
    </div>
    <div class="span4">
      <h3>Event Driven</h3>
      <p>
        The entire bootstrap process is event driven in Proem. This allows you to register a listener for events and easily inject your own code into the process.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h3>PHP5.4</h3>
      <p>
        Proem was developed from the beginning to be a PHP5.4 framework and takes advantage of allot of the newer functionality provided by this modern version.
      </p>
    </div>
    <div class="span4">
      <h3>MIT licensed</h3>
      <p>
        A permissive free software licence with minimal requirements about how the software can be redistributed. This meens that Proem can be used in wide variety of cases.
      </p>
    </div>
    <div class="span4">
      <h3>Open Source</h3>
      <p>
        Proem is open source. Everyone is free to contribute and help out as well as enjoy the benifits of others work. It's free to distribute and open so you can look under the hood.
      </p>
    </div>
  </div>
</div>
<hr>
