{% extends "page_layout.twig" %}
{% block content %}
<div class="well">
  <h2>Where did Proem come from?</h2>
  <blockquote>
    –noun an introductory discourse; introduction; preface; preamble.<br />
    Origin: 1350–1400; < L prooemium < Gk prooímion prelude (pro- pro-2 + oím(ē) song + -ion dim. suffix); r. ME proheme < MF < L, as above
  </blockquote>
  <p>
    Proem started life in around early 2010 and has seen a few different incarnations since. At one stage
    around the end of 2010 I had an almost complete framework in place. Things change however and a few
    rewrites latter it is where it is today.
  </p>
  <p>
    The current incarnation was started at the end of 2011 after playing with the PHP5.4 alphas for about 6 months.
  </p>
</div>
<a name="contact"></a>
<div class="well">
  <h3>Contact me</h3>
  <p>
    I can be contacted via email at <a mailto="trq@proemframework.org">trq@proemframework.org</a>, find me
    lurking on our #proem channel on freenode, or follow <a href="http://twitter.com/proem">@proem</a> or <a href="http://twitter.com">@tonyrq</a>
  </p>
</div>
{% endblock %}
