    {% include 'layouts/header.twig' %}
    <div class="docs container">
      <div class="row">
        <div class="span3">
          <h5>Development Documentation</h5>
          <p><small><em>HEAD of <a href="https://github.com/proem/proem">develop branch</a></em></small></p>
          <div style="padding: 8px;" class="well">
            <h5>An Overview</h5>
            <ul class="nav nav-tabs nav-stacked">
              <li><a href="/docs/dev/installation.html">Installation</a></li>
              <li><a href="/docs/dev/quickstart.html">Quick Start Guide</a></li>
              <li><a href="/docs/dev/bootstrap.html">The Bootstrap Process</a></li>
            </ul>
          </div>
          <div style="padding: 8px;" class="well">
            <h5>The Components</h5>
            <ul class="nav nav-tabs nav-stacked">
              <li><a href="/docs/dev/autoloader.html">Autoloading</a></li>
              <li><a href="/docs/dev/route-component.html">Routing Component</a></li>
              <li><a href="/docs/dev/signal-component.html">Signal Component</a></li>
              <li><a href="/docs/dev/services-component.html">Service Component</a></li>
              <li><a href="/docs/dev/dispatch.html">Dispatch Component</a></li>
              <li><a href="/docs/dev/filter.html">The Filter Chain</a></li>
              <li><a href="/docs/dev/io.html">IO</a></li>
            </ul>
          </div>
          <div style="padding: 8px;" class="well">
            <h5>Userland Code</h5>
            <ul class="nav nav-tabs nav-stacked">
              <li><a href="/docs/dev/controllers.html">Controllers</a></li>
              <li><a href="/docs/dev/modules.html">Modules</a></li>
              <li><a href="/docs/dev/plugins.html">Plugins</a></li>
            </ul>
          </div>
        </div>
        <div class="span9">
          {{ content }}
        </div>
      </div>
    </div>
    {% include 'layouts/footer.twig' %}
