<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Proem Framework &mdash; A lightweight, simple, fast MVC implementation for PHP5.4</title>
        <meta name="description" content="">
        <meta name="author" content="Tony R Quilkey">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="styles/default.css">
    </head>
    <body>
        {% include 'layouts/header.twig' %}
        <div class="container">
            {{ content }}
            {% include 'layouts/footer.twig' %}
        </div>
    </body>
</html>
