<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Proem Framework &mdash; A lightweight, simple, fast MVC implementation for PHP5.4</title>
        <meta name="description" content="">
        <meta name="author" content="Tony R Quilkey">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles/proem.css">
    </head>
    <body>
        {% include 'layouts/header.twig' %}
        <div class="hero-unit">
          <div class="container">
            <img src="media/img/tree-banner.png" width="960" />
            <div class="downloads">
              <a href="downloads/proem.phar" class="btn btn-large btn-success">Download Phar</a>
              <a href="https://github.com/proem/proem" class="btn btn-large btn-info" target="_blank">Fork Proem!</a>
            </div>
          </div>
        </div>
        <div class="container">
          {{ content }}
          {% include 'layouts/footer.twig' %}
        </div>
    </body>
</html>
