<div class="topnav">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/docs">Documentation</a></li>
            <li><a href="/contrib">Contribute</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
