    {% include 'layouts/header.twig' %}
    <div class="visable-desktop proem-tree">
      <div class="hero-unit">
        <div class="container">
          <img src="media/img/tree-banner.png" />
          <div class="downloads">
            <a href="downloads/proem.phar" class="btn btn-large btn-success">Download Phar</a>
            <a href="https://github.com/proem/proem" class="btn btn-large btn-info" target="_blank">Fork Proem!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <hr>
      <div class="features">
        <div class="row">
          <div class="span4">
            <div class="well">
              <h3><a href="http://thorpesystems.com/benchmarking-proem">Benchmarked</a></h3>
              <p>
                Proem has been developed for speed. We are constantly benchmarking Proem against other popular frameworks and comparing results.
              </p>
            </div>
          </div>
          <div class="span4">
            <div class="well">
              <h3><a href="/docs/services-component.html">Dependency Injection</a></h3>
              <p>
                A simple dependency injection implementation allows easy decoupling and configuration of individual components via DI containers (services) and assets.
              </p>
            </div>
          </div>
          <div class="span4">
            <div class="well">
              <h3><a href="/docs/signal-component.html">Event Driven</a></h3>
              <p>
                The entire bootstrap process is event driven in Proem. This allows you to register a listener for events and easily inject your own code into the process.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <div class="well">
              <h3><a href="http://php.net" target="_blank">PHP5.4</a></h3>
              <p>
                Proem was developed from the beginning to be a PHP5.4 framework and takes advantage of a lot of the newer functionality provided by this modern version.
              </p>
            </div>
          </div>
          <div class="span4">
            <div class="well">
              <h3><a href="http://www.opensource.org/licenses/MIT" target="_blank">MIT licensed</a></h3>
              <p>
                A permissive free software licence with minimal requirements about how the software can be redistributed.
              </p>
            </div>
          </div>
          <div class="span4">
            <div class="well">
              <h3><a href="http://www.opensource.org" target="_blank">Open Source</a></h3>
              <p>
                Proem is open source. Everyone is free to contribute and help out as well as enjoy the benifits of others work.
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
    {% include 'layouts/footer.twig' %}
