layout: docs.twig
---
<div class="well">
  <h2>Overview</h2>
  <p>
    The Proem framework aims to be a lightweight, simple &amp; fast MVC implementation built on top of PHP5.4
  </p>
  <p>
    The overall design has been kicking around my head for a number of years, slowly becoming more
    and more refined over time. This is actually the third iteration of the idea, with the previous attempt being stalled here.
  </p>
  <p>
    The current idea will see the framework become Event driven, with the Bootstrap process executing a filter chain to
    instantiate the bulk of the components required to build an application. During the execution of each step in the
    filter chain more events will be exposed and these events will be easy to subscribe / listen too.
  </p>
  <p>
    This should see the bootstrap process become very easy to extend and customise. I will begin documentation as I get components completed.
  </p>
  <p>
    We currently have this website, <a href="http://proemframework.org">http://proemframework.org</a>, an irc channel on #proem
    irc.freenode.net, and our issue tracker and code repositories on <a href="https://github.com/proem/proem">GitHub</a>.
  </p>
</div>
