    {% include 'header.twig' %}
    <div class="docs container">
      <div class="row">
        <div class="span3">
          <h5>Current Documentation</h5>
          <p><small><em>HEAD of <a href="https://github.com/proem/proem/tree/master">master branch</a></em></small></p>
          <div style="padding: 8px;" class="well">
            <h5>An Overview</h5>
            <ul class="nav nav-tabs nav-stacked">
              <li><a href="/docs/current/installation.html">Installation</a></li>
              <li><a href="/docs/current/quickstart.html">Quick Start Guide</a></li>
              <li><a href="/docs/current/bootstrap.html">The Bootstrap Process</a></li>
            </ul>
          </div>
          <div style="padding: 8px;" class="well">
            <h5>The Components</h5>
            <ul class="nav nav-tabs nav-stacked">
              <li><a href="/docs/current/autoloader.html">Autoloading</a></li>
              <li><a href="/docs/current/route-component.html">Routing Component</a></li>
              <li><a href="/docs/current/signal-component.html">Signal Component</a></li>
              <li><a href="/docs/current/services-component.html">Service Component</a></li>
              <li><a href="/docs/current/dispatch.html">Dispatch Component</a></li>
              <li><a href="/docs/current/filter.html">The Filter Chain</a></li>
              <li><a href="/docs/current/io.html">IO</a></li>
            </ul>
          </div>
          <div style="padding: 8px;" class="well">
            <h5>Userland Code</h5>
            <ul class="nav nav-tabs nav-stacked">
              <li><a href="/docs/current/controllers.html">Controllers</a></li>
              <li><a href="/docs/current/modules.html">Modules</a></li>
              <li><a href="/docs/current/plugins.html">Plugins</a></li>
            </ul>
          </div>
        </div>
        <div class="span9">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    {% include 'footer.twig' %}
