  <div class="row">
    <div class="span6 gen-footer">
      Generated from <a href="https://github.com/proem/proemframework.org-src">Source</a> by <a href="https://github.com/trq/Gen">Gen</a> {{ now|date('m/d/Y  H:i') }}
    </div>
  </div>
  </body>
</html>
