    {% include 'header.twig' %}
    <div class="docs container">
      <div class="row">
        <div class="span12">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    {% include 'footer.twig' %}
