layout: page.twig
---
<div class="well">
  <h3>Proem Development Blog</h3>
  <table class="table table-striped">
    <tr>
      <td><a href="/blog/18-07-2012/documentation-updates.html">Major Updates to Documentation</a></td>
      <td><a href="/blog/18-07-2012/documentation-updates.html#disqus_thread" data-disqus-identifier="/blog/18-07-2012/documentation-updates"></a></td>
      <td><em>18th July 2012</em></td>
    </tr>
  </table>
</div>
