layout: page.twig
---
<div class="well">
  <h3>Essential Framework Components?</h3>
  <p>
    Most frameworks these days are split into parts, the <em>kernel</em> and then the rest of the components. It's fair to say that as a <em>kernel</em>, Proem is getting pretty
    close to being feature complete. However, it is these <em>components</em> that users will miss if they where to start using it now.
  </p>
  <p>
    So, bearing in mind that Proem really is striving to be a minimal framework, I'd like to pose the question: What components would <em>you</em> consider as being an essential part
    of a framework?
  </p>
  <p>
    I already have a few ideas in mind, and even have plans on developing some of these in the <a href="https://github.com/proem/proem/issues?milestone=8&state=open">0.7.0 milestone</a>.
    <ul>
      <li>A PHP Rendering View layer</li>
      <li>Access Control Lists</li>
      <li>Session Handling</li>
      <li>Config Management</li>
    </ul>
  </p>
  <p>
    I would however love some feedback on this subject. I will likely develop most of these components as <a href="/docs/current/plugins.html">Plugins</a>, but still, some of these plugins should
    ship with the framework out of the box. Thoughts?
  </p>
</div>
<div class="well" id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_identifier = '/blog/18-07-2012/essential-framework-components';
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
